<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Username</th>
      <th>Phone verification code</th>
      <th>Has agreed</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.age %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.username %></td>
        <td><%= customer.phone_verification_code %></td>
        <td><%= customer.has_agreed %></td>
        <td><%= customer.is_active %></td>
        <td><%= link_to 'Show', admin_customer_path(customer) %></td>
        <td><%= link_to 'Edit', edit_admin_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', admin_customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_admin_customer_path %>
