<%= form_for [:admin, @customer, @order] do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.text_field :order_no %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, prompt: true %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
