<h1>Orders for <%= @customer.first_name %> <%= @customer.last_name %></h1>

<table border=1 class="standard_table">
  <thead>
    <tr>
      <th>Order No</th>
      <th>Status</th>
      <th>Restaurant</th>
      <th>Dishes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_no %></td>
        <td><%= order.order_status.status %></td>
        <td>
          <%= order.restaurant.name %> <br>
          <%= order.restaurant.address %> <br>
          <%= order.restaurant.phone_1 %> <br>
          <%= order.restaurant.phone_2 %>
        </td>
        <td><%= order.address %></td>
        <td><%= link_to 'Show', admin_customer_order_path(order.customer_id, order.id) %></td>
        <td><%= link_to 'Edit', edit_admin_customer_order_path(order.customer_id, order.id) %></td>
        <td><%= link_to 'Destroy', admin_customer_order_path(order.customer_id, order.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', admin_customers_path %>
<%= link_to 'New Orders', new_admin_customer_order_path %>
