<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Building</th>
      <th>Food Style</th>
      <th>Picture</th>
      <th>Phone 1</th>
      <th>Phone 2</th>
      <th>Qq</th>
      <th>Qr code</th>
      <th>Minimum order</th>
      <th>Delivery charge</th>
      <th>Star rating</th>
      <th>Is active</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= Building.find(restaurant.building_id).name %></td>
        <td><%= FoodStyle.find(restaurant.foodstyle_id).name %></td>
        <td><%= restaurant.picture %></td>
        <td><%= restaurant.phone_1 %></td>
        <td><%= restaurant.phone_2 %></td>
        <td><%= restaurant.qq %></td>
        <td><%= restaurant.qr_code %></td>
        <td><%= restaurant.minimum_order %></td>
        <td><%= restaurant.delivery_charge %></td>
        <td><%= restaurant.star_rating %></td>
        <td><%= restaurant.is_active %></td>
        <td><%= link_to 'Dishes', restaurant_dishes_path(restaurant) %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
